# Log files
*.log

# Ignore Wordpress
dist
node_modules
/wp-admin/
/wp-includes/
/wp-content/*
/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php
/.htaccess
.env

# Add any exceptions below.
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/rathalos-demo-plugin

!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/rathalos-demo-theme
